<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/scss/main.min.css" />
    @RenderSection("styles", required: false)
</head>
<body>
    @{ Html.RenderAction("Header", "Global"); }

    @RenderBody()

    @RenderSection("scripts", required: false)
</body>
</html>
