@{
    ViewBag.Title = "Fraud Tracker";
}

@section styles{
    <link rel="stylesheet"
          href="~/ClientApps/fraud-tracker/dist/fraud-tracker.min.css" />
}

<div id="fraudTracker"
     class="app"
     token="@Session["token"]"></div>

@section scripts{
    <script type="text/javascript"
            src="~/ClientApps/fraud-tracker/dist/bundle.js"></script>
}