@{
    ViewBag.Title = "Cockpit";
}

<section class="container">
    <h1>Home</h1>

    <p>
        @Session["token"]
    </p>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Mauris iaculis, tortor sed aliquam condimentum, vitae congue lacus dolor a nulla.
        Curabitur pretium felis et sem tristique rhoncus.
        In commodo dolor dolor, vitae lobortis orci tempus et.
    </p>
</section>